@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.redressed {
    font-family : 'Redressed',cursive;
}

.Montserrat {
    font-family: 'Monserrat',serif;
}

/*footer*/
.log{
    background-color:#00ABE4;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 45px;
    border-radius: 5px;
    color:white;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;


}

.pop{
    background-color: #00ABE4;
    color: white;
    width: 100%;
    height: 250px;
    text-align: center;
    justify-content: space-around;
    position: absolute;
    display: flex;
    margin-top: 400px;
	
}

.cont{
    flex-direction: column;
    align-items: baseline;

}

.cont p {
    color: black;
    margin-top: 50px;
}

.cont a{

text-decoration-line: underline black;
color: black;
flex-direction: column;
align-items: baseline;
margin-top: 50px;
}
/*footer*/

/*navbar*/
.cc-navbar {
    background-color: rgb(0,171,228);
    font-family: "Montserrat",serif;
    box-shadow:1px 1px 3px  rgb(0,31,96,0.54);
    z-index: 1;
}

.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color:rgb(0,31,96,0.54) ;
}

.banner{
    background:linear-gradient(rgb(0,171,228, 0.5),rgb(0,171,228, 0.5)),url('../img/Bibliotheque2.jpg') center center fixed 
    no-repeat;
    background-size: cover;
    height: 800px;
    

}

.banner .banner-desc{
    font-size:48px ;
    font-weight : 400;
    color: white;
}
/*navbar*/

.card-img-top{
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;

}

.container{
    margin-top: 100px;
}

.card{
    margin-top: 150px;
}

.container-info{
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(0,171,228);
    margin-top: 250px;
   

}

.container-info .container-txt .text{
    margin-top: 218px;
}

.container-info .container-img{
    float: left;
   

    
}


.Title{
    justify-items: center;
}

.btn-order{
    color :rgb(0,31,96,0.54);
    border: rgb(0,31,96,0.54);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color: rgb(0,171,228) ;
    background-color:rgb(0,31,96) ;

}
.btn-order1{
    color :white;
    border: rgb(0,31,96,0.54);
    transition: 0.5s;
}

.btn-order1:hover,
.btn-order1:active {
    color: rgb(0,171,228) ;
    background-color:rgb(0,31,96) ;

}

.SeeMore{
    margin-top: 100px;
}