.btn-order{
    color :rgb(0,31,96,0.54);
    border: rgb(0,31,96,0.54);
    transition: 0.5s;
    margin-top: 15px;
    margin-left: 5px;
}

.btn-order:hover,
.btn-order:active {
    color: rgb(0,171,228) ;
    background-color:rgb(0,31,96) ;

}

.bloc-form{
   margin-top: 80px;
   margin-left: 40px;
   padding: 10px 30px;
   border:2px solid #00ABE4;
   width: 450px;
   border-radius: 5px;
}

