.menu {
  height:50px;
  width:100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #00ABE4;
}
  .hamburger-menu {

    margin-bottom:150px;
  }

 #menu__toggle_action {
  opacity: 0;
}
#menu__toggle_action:checked + .menu__btn_action > span {
  transform: rotate(45deg);
}
#menu__toggle_action:checked + .menu__btn_action > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle_action:checked + .menu__btn_action > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle_action:checked ~ .menu__box_action {
  left: 0 !important;
}
.menu__btn_action {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn_action > span,
.menu__btn_action > span::before,
.menu__btn_action > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn_action > span::before {
  content: '';
  top: -8px;
}
.menu__btn_action > span::after {
  content: '';
  top: 8px;
}
.menu__box_action {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item_action {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item_action:hover {
  background-color: #CFD8DC;
}



#menu__toggle_profile {
  opacity: 0;
}
/* #menu__toggle_profile:checked + .menu__btn_profile > span {
  transform: rotate(45deg);
} */
#menu__toggle_profile:checked + .menu__btn_profile > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle_profile:checked + .menu__btn_profile > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle_profile:checked ~ .menu__box_profile {
  right: 0 !important;
}
.menu__btn_profile {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn_profile > span,
.menu__btn_profile > span::before,
.menu__btn_profile > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  /* background-color: #616161; */
  transition-duration: .25s;
}
.menu__btn_profile > span::before {
  content: url(../img/account_circle.png);
  top: -20px;
  right: 10px;
}
.menu__btn_profile > span::after {
  /* content: ''; */
  top: 8px;
}
.menu__box_profile {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item_profile {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item_profile:hover {
  background-color: #CFD8DC;
}
